<div
    class="w-full h-full bg-[#5271FF] grid grid-cols-10 sm:grid-cols-[repeat(19,1fr)] sm:grid-rows-11 grid-rows-[repeat(20,1fr)] aspect-square">
    <div class="bg-white sm:col-span-10 col-span-8 row-span-7 sm:col-start-4 col-start-2 row-start-3 w-full"
        style="background-image: url('https://res.cloudinary.com/dnzup8y8a/image/upload/v1729917284/programcion-segura/login-img-1.svg');">
        <div class="w-full h-full grid items-center place-content-center place-items-center gap-10 grid-cols-6">
            <div class="grid text-6xl col-span-3 sm:col-start-2">
                <mat-label class="text-[#7890FF]">
                    Bienvenido
                </mat-label>
                <mat-label>
                    a la plataforma virtual de notas
                </mat-label>
            </div>
            <p class="text-xl col-span-3 sm:col-start-2 ">
                Accede y consulta tus notas de forma rápida, o gestiona y sube calificaciones fácilmente como profesor
                en un solo lugar.
            </p>
        </div>
    </div>

    <div class="bg-white col-span-1 row-span-5 col-start-[15] row-start-4 sm:grid hidden"
        style="background-image: url('https://res.cloudinary.com/dnzup8y8a/image/upload/v1729916391/programcion-segura/login-img-2.svg');">
    </div>

    <div class="bg-[#F9F9F9] col-span-5 row-span-3 col-start-[13] row-start-5 rounded-[35px] custom-shadow">
        <div class="justify-center place-content-center w-full px-12 py-5">
            <span class="text-base">Para iniciar sesión seleccione en el caso sea docente o estudiante </span>
        </div>
        <div class="flex justify-center items-center space-x-4">
            <div class="flex flex-col items-center w-1/2 gap-4">
                <div class="h-20 w-20 rounded-full bg-[#EDEDED]"></div>
                <button class="bg-[#EDBD1D] w-3/4 rounded-full py-1.5 hover:bg-[#d4a91a]">
                    <span class="text-sm">Docente</span>
                </button>

            </div>
            <div class="flex flex-col items-center w-1/2 gap-4">
                <div class="h-20 w-20 rounded-full bg-[#EDEDED]"></div>
                <button class="bg-[#EDBD1D] w-3/4 rounded-full py-1.5 hover:bg-[#d4a91a]">
                    <span class="text-sm">Estudiante</span>
                </button>
            </div>
        </div>

    </div>
</div>